img{
    width: 150px;
    object-fit: contain;
}

p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #8e8e8e;
}

h2{
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #4DB657;
}