<div class="coreWrapper dataTableWrapper" *ngIf="canShowPage && !hasNoVenue && venue">

  <div *ngIf="loadingImageUpload">
    <img src="../assets/uploading.gif" />
  </div>

  <div *ngIf="!loadingImageUpload">
    <h1>{{venue.name}}'s Guests</h1>

    <p class="addNewVenueOptions">
      <a (click)="deleteVenue()">Remove {{venue.name}}</a> &bull;
      <a  (click)="editVenue()">Edit {{venue.name}}'s Details</a>
      <!-- &bull; <a href="">+ Add New Venue</a> -->
    </p>

    <ag-grid-angular
        style="width: 100%; height: 50vh;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        >
    </ag-grid-angular>
  </div>

</div>

<div class="coreWrapper dataTableWrapper" *ngIf="canShowPage && hasNoVenue">

  <h1>Welcome
    <label *ngIf="user.displayName">{{ user.displayName }} </label>
    <label *ngIf="!user.displayName">{{ moreUserInfo.name }} </label>
    <br /> Create a venue to begin
  </h1>
  <button class="registerBtn" (click)="triggerModel()"> + Add Venue</button>

</div>

<div class="customModel registerModel" *ngIf="showConfirmDelete">
  <div class="paddedInputs">
    <div class="fullSide">
      <p>Are you sure you want to delete {{venue.name}}?</p>
    </div>
    <div class="side" (click)="closeModals()">
      <p>Go Back</p>
    </div>
    <div class="side" (click)="actuallyDeleteVenue()">
      <p>Delete</p>
    </div>
  </div>
</div>

<div class="customModel registerModel" *ngIf="showEdit && venue.name">
  <div class="paddedInputs">

    <div class="side">
      <div>
        <input type="text" name="name" placeholder="Venue Name" [value]="venue.name" [(ngModel)]="venue.name" />
      </div>
    </div>
    <div class="side">
      <div>
        <input type="text" name="address" placeholder="Venue Address" [value]="venue.location" [(ngModel)]="venue.location" />
      </div>
    </div>
    <div class="fullSide">
      <div>
        <input type="text" name="industry" placeholder="Venue Industry" [value]="venue.industry" [(ngModel)]="venue.industry" />
      </div>
    </div>

    <div class="side" (click)="closeModals()">
      <p>Go Back</p>
    </div>
    <div class="side" (click)="confirmEditVenue()">
      <p>Confrim Changes</p>
    </div>
  </div>
</div>


<form class="customModel registerModel" *ngIf="showVenueAddModel">

  <div class="paddedInputs">
    <div class="side">
      <div>
        <input type="text" name="name" placeholder="Venue Name" [(ngModel)]="venueOBJ.name" />
      </div>
    </div>

    <div class="side">
      <div>
        <input ngx-google-places-autocomplete readonly onfocus="this.removeAttribute('readonly');" #places="ngx-places" placeholder="Venue Location" name="other_address" (onAddressChange)="onChange($event)" />
      </div>
    </div>

    <div class="fullSide">
      <div>
        <input type="text" name="industry" placeholder="Industry (Optional)" [(ngModel)]="venueOBJ.industry" />
      </div>
    </div>
  </div>


  <div class="fullSide">
    <div class="inlineLineCheckbox"><input type="checkbox" [(ngModel)]="hasChecked" [ngModelOptions]="{standalone: true}"/> I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></div>
    <button type="button" class="registerVenueBtn" (click)="submitVenue()">Submit Venue</button>
    <div class="buffer"></div>
  </div>

</form>

<div class="dimmer" *ngIf="showVenueAddModel || showConfirmDelete || showEdit" (click)="closeModals()"></div>
