.dataTableWrapper{
  width: 90% !important;
}

h1{
  text-transform: capitalize;
  color: #8e8e8e;
  font-size: 21px;
}

.coreWrapper{
  margin-top: 10% !important;
}

.venuePanelWrapper{
  margin-top: 5%;
    margin-bottom: 5%;
}

.specialInput{

  input[type="file"] {
    position: absolute;
    height: 60px;
    width: 130px;
    opacity: 0;
  }
}

.addNewVenueOptions{
  margin-top: 2%;
  margin-bottom: 3%;

  a{
    text-decoration: none;
    color: #3A97D2;
  }
}

.paddedInputs{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.registerModel{
  margin-top: 10%;
  .side{
    width: 40%;
    padding: 5%;
    padding-bottom: 0%;
  }

  .buffer{
    width: 100%;
    height: 50px;
    display: block;
  }

  .inlineLineCheckbox{
    margin-top: 5%;
  }

  .registerVenueBtn{
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;

    border: none;
    background: #4DB657;
    color: #fff;
    border-radius: 10px;

    margin-top: 10%;
  }

  input{
    border: none;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;

    box-shadow: 0px 0px 10px #8e8e8e;
  }

  h2{
    font-size: 16px;
    padding-top: 5px;
  }
}

.checkboxInput{
  width: inherit !important;
}


.fullSide{
  width: 100%;

  h1{
    text-align: center;
    font-size: 21px;
    padding-top: 0%;
    padding-bottom: 5%;

    width: 60%;

    margin-left: auto;
    margin-right: auto;

    color: #3B96D4;
    font-weight: bold;
  }

  .sidewaysGrid{
    display: inline-flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #6D6E70;
    font-size: 12px;

    label{
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;

      a{
        color: #2A80B9;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .gridSec{
      width: 25%;
    }

    .block{
      background: #3B96D4;
      display: block;
      width: 100px;
      height: 100px;

      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;

      img{
        width: 70px;
        height: 70px;
        object-fit: contain;
        margin-top: 15px;
      }
    }
  }
}


.headerSection{
  width: 100%;

  .topSection{
    width: 100%;
    overflow: hidden;
    display: inline-flex;

    .logo{
      padding: 5px;
      color: #D8C8F0;
      font-size: 21px;

      label{
        color: #9068D3;
      }
    }

    .side{
      width: 50%;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;

      display: inline-flex;
    }

    .signInFloatBtn{
      padding: 10px;
      margin-top: 10px;
      margin-right: 10px;
      border: none;
      background: #9068D3;
      color: #fff;
      border-radius: 10px;
      width: 130px;
      white-space: nowrap;
      font-weight: 900;

      float: right;
    }


  }
}
