<div class="headerSection">

    <div class="topSection">
      <div class="side">
        <div class="logo"><label>Ezy</label>Checkin</div>
      </div>
      <div class="side">
        <button class="signInFloatBtn logoutBtn" (click)="logout()">Logout</button>
        <button class="signInFloatBtn" (click)="myQR()">MY QR</button>
      </div>
    </div>

</div>


<div class="coreWrapper dataTableWrapper" *ngIf="canShowPage && venue">
  <h1>{{venue.venueName}}'s Guests</h1>

  <ag-grid-angular
      style="width: 100%; height: 50vh;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      >
  </ag-grid-angular>
</div>

<footer>
</footer>
