<div class="simpleWrapper" *ngIf="canShowPage">
  <div class="headerSection">

      <!-- <div class="topSection">
        <div class="side">
          <div class="logo"><label>Ezy</label>Checkin</div>
        </div>
        <div class="side" *ngIf="!guestUser">
          <button class="signInFloatBtn " (click)="triggerSigninModel()">Venue Login</button>
          <button class="signInFloatBtn blueSignIn" (click)="guestSigninModel()">Guest Login</button>
        </div>
        <div class="side" *ngIf="guestUser">
          <button class="signInFloatBtn logoutBtn" (click)="logout()">Logout</button>
          <button class="signInFloatBtn blueSignIn" (click)="directSuccess()">{{guestUser.displayName}}</button>
        </div>
      </div> -->

      <div class="coreGrid topSpace">
        <div class="side leftSide">
          <div class="contentWrap">
            <h1>Welcome to the <br /><label>easist</label> and <label>safest</label><br /> way to check-in</h1>

            <!-- <div class="dualMobileBtns">
              <button class="registerBtn mobileBtn" (click)="guestSigninModel()">Login as a Guest</button>
              <button class="registerBtn" (click)="guestSigninModel()">Register as a Guest</button>
            </div> -->

          </div>
        </div>
        <div class="side rightSide">

          <div class="regoForm">
            <h1>Register & Check-in as <label>Guest</label></h1>

            <div class="google-btn" (click)="googleSignin()">
              <div class="google-icon-wrapper">
                <img class="google-icon" src="../assets/google.svg"/>
              </div>
              <p class="btn-text"><b>Register with Google</b></p>
            </div>

            <label class="orText">OR Enter Details Below</label>

            <form class="manualEnterForm">
              <div>
                <input type="text" name="fname" placeholder="First Name"  [(ngModel)]="venueShortOBJ.email" />
                <input type="text" name="lname" placeholder="Last Name" [(ngModel)]="venueShortOBJ.password" />
              </div>
              <div>
                <input type="email" name="email" placeholder="Email"  [(ngModel)]="venueShortOBJ.email" />
                <input type="tel" name="phone" placeholder="Phone" [(ngModel)]="venueShortOBJ.password" />
              </div>
              <div>
                <input ngx-google-places-autocomplete #places="ngx-places" class="fullSpanInput" placeholder="Address" name="other_address" (onAddressChange)="onChange($event)" />
              </div>
              <div>
                <input type="password" name="password" placeholder="Create Password"  [(ngModel)]="venueShortOBJ.email" />
                <input type="password" name="confpassword" placeholder="Confirm Password" [(ngModel)]="venueShortOBJ.password" />
              </div>
            </form>

            <div class="proccedRow">
              Already have an account? <label (click)="goToPage('guest-login')">Login</label>
              <button>Next ></button>
            </div>

            <div class="ppRow">
              By checking-in you agree to Tempsafe's <label (click)="goToPage('terms')">Terms of Sevice</label><br />
              View our <label (click)="goToPage('pp')">Privacy Policy</label> or <label (click)="goToPage('data')">Data & Security Statement</label>
            </div>

          </div>
          <!-- <img src="https://image.freepik.com/free-vector/medical-illustration-team-health-consultation_1893-2379.jpg" /> -->
        </div>
      </div>


      <div class="coreGrid lightEvenSection">
        <div class="side leftSide">
          <img class="sideImage" src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg" />
        </div>
        <div class="side rightSide midRegoSec">
          <h1>Check your guests in the zero fuss. <br /> Ezy Checkin is made simplicity.</h1>
          <button class="registerBtn" (click)="goToPage('venue-login')">Register as a venue</button>
        </div>
      </div>

      <div class="coreGrid">
        <div class="fullSide">
          <h1>Four Ezy Steps To Set Up</h1>
          <div class="sidewaysGrid">
            <div class="gridSec">
              <div class="block"></div>
              <label>Quickly Register your business <a href='#'>here</a></label>
            </div>
            <div class="gridSec">
              <div class="block"></div>
              <label>Print your personalised QR code</label>
            </div>
            <div class="gridSec">
              <div class="block"></div>
              <label>Customers scan your code and check in quickly</label>
            </div>
            <div class="gridSec">
              <div class="block"></div>
              <label>Customer shows check in confirmation</label>
            </div>
          </div>
        </div>
      </div>

      <div class="coreGrid lightEvenSection">
        <div class="longBlockWrapper">
          <h1>Why use EzyCheckin over other check-in methods</h1>
          <div class="longBlock">
            <h3>Easy & Fast</h3>
            <p>
              One touch check-in for customers with the option to <br />
              add a group in one go = faster entry procedure.
            </p>
          </div>
          <div class="longBlock">
            <h3>Secure</h3>
            <p>
              We store all data securely in encrypted form, available <br />
              upon request
            </p>
          </div>
          <div class="longBlock">
            <h3>Safe</h3>
            <p>
              Customer uses their own device, meaning no touch <br />
              points or contamination
            </p>
          </div>
        </div>
        <div class="side rightSide">
          <img class="sideImage" src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg" />
        </div>
      </div>

      <div class="coreGrid blueBack">
        <div class="fullSide midRegoSec">
          <h1>Register your business as an EzyCheckin venue today</h1>
          <button class="registerBtn" (click)="goToPage('venue-login')">Register as a Venue</button>
        </div>
      </div>

      <div class="coreGrid lightEvenSection">
        <div class="side rightSide">
          <img class="sideImage" src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg" />
        </div>
        <div class="side leftSide">
          <h1>EzyCheckin is most effective when used together with Tempsafe devices</h1>

        </div>
      </div>

      <!-- <div class="divideGrid">
        <div class="bigVenueSearch">
          <ng-autocomplete
            [data]="autoCompleteData"
            placeHolder=" 🔎  Search for a venue to checkin..."
            [searchKeyword]="venue"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.venueName" (click)="openVenue(item)"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div> -->

      <!-- <div class="coreGrid lighter">
        <div class="side rightSide">
          <div class="contentWrap">
            <h1>The simpler way to register guests during Covid-19 😮 </h1>
            <div class="dualMobileBtns">
              <button class="registerBtn" (click)="triggerModel()">Register as a Venue</button>
              <button class="registerBtn mobileBtn" (click)="triggerSigninModel()">Login as a Venue</button>
            </div>
          </div>
        </div>
        <div class="side leftSide">
          <img src="../assets/landing_header.png" />
        </div>
      </div> -->

  </div>

</div>

<form class="customModel registerModel" *ngIf="showVenueAddModel">
  <div class="fullSide">
    <h1>Sign-up below to activate your venue’s guest registry.</h1>
  </div>

  <div class="side">
    <h2>OWNER DETAILS</h2>
    <div>
      <input type="text" name="name" placeholder="First & Last Name" [(ngModel)]="venueOBJ.userName" />
    </div>
    <div>
      <input type="email" name="email" placeholder="Email"  [(ngModel)]="venueACCOBJ.email" />
    </div>
    <div>
      <input type="tel" name="ph" placeholder="Phone" [(ngModel)]="venueOBJ.ph" />
    </div>

    <h2>ACCOUNT DETAILS</h2>
    <div>
      <input type="password" name="pass" placeholder="Password" [(ngModel)]="venueACCOBJ.pass" />
    </div>
    <div>
      <input type="password" name="confirmPass" placeholder="Confirm Password" [(ngModel)]="venueACCOBJ.confirmPass" />
    </div>
  </div>

  <div class="side">
    <h2>VENUE DETAILS</h2>
    <div>
      <input type="text" name="venueName" placeholder="Venue Name" [(ngModel)]="venueOBJ.venueName" />
    </div>
    <div>
      <input ngx-google-places-autocomplete #places="ngx-places" placeholder="Venue Address" name="other_address" (onAddressChange)="onChange($event)" />
    </div>
    <div>
      <input type="text" name="industry" placeholder="Industry (Optional)" [(ngModel)]="venueOBJ.industry" />
    </div>
  </div>

  <div class="fullSide">
    <div class="inlineLineCheckbox"><input type="checkbox" [(ngModel)]="hasChecked" [ngModelOptions]="{standalone: true}"/> I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></div>
    <button type="button" class="registerVenueBtn" (click)="submitVenue()">Submit Venue</button>
    <div class="buffer"></div>
  </div>

</form>


<div class="customModel miniCustomModel registerModel" *ngIf="showVenueLoginModel">
  <div class="fullSide">
    <h1>Welcome Back! Login to view your guests.</h1>
  </div>

  <form class="fullSide">
    <div>
      <input type="email" name="email" placeholder="Email Address"  [(ngModel)]="venueShortOBJ.email" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="venueShortOBJ.password" />
    </div>
  </form>

  <div class="fullSide">
    <button type="button" class="registerVenueBtn" (click)="login()">Login As Venue</button>
    <div class="buffer"></div>
  </div>

</div>

<div class="dimmer" *ngIf="showVenueAddModel || showVenueLoginModel" (click)="closeModals()"></div>
