<div class="simpleWrapper" *ngIf="canShowPage">
  <div class="headerSection">

      <div class="topSection">
        <div class="side">
          <div class="logo"><label>QR</label>Web</div>
        </div>
        <div class="side">
          <button class="signInFloatBtn" (click)="triggerSigninModel()">Venue Login</button>
        </div>
      </div>

      <div class="coreGrid">
        <div class="side leftSide">
          <div class="contentWrap">
            <h1>The simpler way to register guests during Covid-19 😮 </h1>
            <button class="registerBtn" (click)="triggerModel()">Register Now</button>
          </div>
        </div>
        <div class="side rightSide">
          <img src="../assets/landing_header.png" />
        </div>
      </div>

  </div>

</div>

<form class="customModel registerModel" *ngIf="showVenueAddModel">
  <div class="fullSide">
    <h1>Sign-up below to activate your venue’s guest registry.</h1>
  </div>

  <div class="side">
    <h2>OWNER DETAILS</h2>
    <div>
      <input type="text" name="name" placeholder="First & Last Name" [(ngModel)]="venueOBJ.userName" />
    </div>
    <div>
      <input type="email" name="email" placeholder="Email"  [(ngModel)]="venueACCOBJ.email" />
    </div>
    <div>
      <input type="tel" name="ph" placeholder="Phone" [(ngModel)]="venueOBJ.ph" />
    </div>

    <h2>ACCOUNT DETAILS</h2>
    <div>
      <input type="password" name="pass" placeholder="Password" [(ngModel)]="venueACCOBJ.pass" />
    </div>
    <div>
      <input type="password" name="confirmPass" placeholder="Confirm Password" [(ngModel)]="venueACCOBJ.confirmPass" />
    </div>
  </div>

  <div class="side">
    <h2>VENUE DETAILS</h2>
    <div>
      <input type="text" name="venueName" placeholder="Venue Name" [(ngModel)]="venueOBJ.venueName" />
    </div>
    <div>
      <input type="text" name="street" placeholder="Street Name & Number" [(ngModel)]="venueOBJ.location.street" /><br />
      <input type="text" name="city" placeholder="City" [(ngModel)]="venueOBJ.location.city" /><br />
      <input type="text" name="state" placeholder="State" [(ngModel)]="venueOBJ.location.state" /><br />
      <input type="text" name="postcode" placeholder="Postcode" [(ngModel)]="venueOBJ.location.postcode" />
    </div>
    <div>
      <input type="text" name="country" placeholder="Country" [(ngModel)]="venueOBJ.location.country" />
    </div>
    <div>
      <input type="text" name="industry" placeholder="Industry (Optional)" [(ngModel)]="venueOBJ.industry" />
    </div>
  </div>

  <div class="fullSide">
    <div class="inlineLineCheckbox"><input type="checkbox" [(ngModel)]="hasChecked" [ngModelOptions]="{standalone: true}"/> I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></div>
    <button type="button" class="registerVenueBtn" (click)="submitVenue()">Submit Venue</button>
    <div class="buffer"></div>
  </div>

</form>


<form class="customModel miniCustomModel registerModel" *ngIf="showVenueLoginModel">
  <div class="fullSide">
    <h1>Welcome Back! Login to view your guests.</h1>
  </div>

  <div class="fullSide">
    <div>
      <input type="email" name="email" placeholder="Email Address"  [(ngModel)]="venueShortOBJ.email" />
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="venueShortOBJ.password" />
    </div>
  </div>

  <div class="fullSide">
    <button type="button" class="registerVenueBtn" (click)="login()">Login As Venue</button>
    <div class="buffer"></div>
  </div>

</form>

<footer>
</footer>

<div class="dimmer" *ngIf="showVenueAddModel || showVenueLoginModel" (click)="closeModals()"></div>
