
.regoForm{
  width: 60%;
  float: none;

  margin-top: -5%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  color: #3B97D0;

  h1{
    font-weight: bold;
    color: #3B97D0;
  }

  button{
    background: #3B97D0;
  }

  label{
    color: #3B97D0 !important;
  }
}

.ppRow{
  text-align: center;
}
