<header>
  <li class="logo" (click)="goToPage('/')">EzyCheckin</li>
  <!-- <li (click)="goToPage('about')">About Us</li>
  <li (click)="goToPage('faq')">FAQs</li>
  <li (click)="goToPage('resources')">Resources</li>
  <li (click)="goToPage('contact')">Contact</li> -->
  <div class="logins" *ngIf="user">
    <li class="loginBtn" (click)="logout()"><button>Logout</button></li>
    <li class="loginText" (click)="goToPage('success')">{{user.displayName}}</li>
  </div>
  <div class="logins" *ngIf="!user">
    <li class="loginBtn" (click)="goToPage('guest-login')"><button>Guest Login</button></li>
    <li class="loginText" (click)="goToPage('venue-login')">Venue Login</li>
  </div>

  <li class="burgerMenu">☰</li>
</header>

<router-outlet></router-outlet>

<!-- <footer>
  <label>© Ezy Checkin 2020</label>
</footer> -->
