
router-outlet{
  background: green;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #000;

  // width: 100%;
  // display: block;
  // bottom: 0;
  // height: 80px;
  // background: #FCFBFC;
  // position: absolute;
  //
  // text-align: center;
  // color: #8e8e8e;
  // line-height: 90px;
}
