<header>
  <li class="logo" (click)="goToPage('/')">EzyCheckin</li>

  <!--
  ADDITONAL PAGES
  <li (click)="goToPage('about')">About Us</li>
  <li (click)="goToPage('faq')">FAQs</li>
  <li (click)="goToPage('resources')">Resources</li>
  <li (click)="goToPage('contact')">Contact</li>

  -->

  <div class="logins" *ngIf="user && moreUserInfo">

    <li class="loginBtn" (click)="logout()"><button>Logout</button></li>

    <!-- VENUE BUTTONS -->
    <li class="loginBtn" (click)="goToPage('upload')" *ngIf="moreUserInfo.accountType == 'venue' && hasVenues"><button>Upload</button></li>
    <li class="loginBtn" (click)="goToPage('myqr')" *ngIf="moreUserInfo.accountType == 'venue' && hasVenues"><button>My QR</button></li>

    <li class="loginText" *ngIf="moreUserInfo.accountType == 'venue' && !user.displayName" (click)="goToPage('venue')">{{ moreUserInfo.name }}</li>
    <li class="loginText" *ngIf="moreUserInfo.accountType == 'venue' && user.displayName" (click)="goToPage('venue')">{{ user.displayName }}</li>

    <!-- GUEST BUTTONS -->
    <li class="loginText" *ngIf="moreUserInfo.accountType == 'guest' && !user.displayName" (click)="goToPage('member')">{{ moreUserInfo.name }}</li>
    <li class="loginText" *ngIf="moreUserInfo.accountType == 'guest' && user.displayName" (click)="goToPage('member')">{{ user.displayName }}</li>

  </div>
  <div class="logins" *ngIf="!user">
    <li class="loginBtn" (click)="goToPage('guest-login')"><button>Guest Login</button></li>
    <li class="loginText" (click)="goToPage('venue-login')">Venue Login</li>
  </div>

  <li class="burgerMenu">☰</li>
</header>

<router-outlet></router-outlet>

<!-- <footer>
  <label>© Ezy Checkin 2020</label>
</footer> -->
