<div class="topHeader">
  <div class="logo"><label>QR</label>Web</div>
</div>

<div class="coreWrapper">
  <div *ngIf="venueLoaded">
    <div *ngIf="venueFound">
      <h1>Check-in to <u>{{ currentVenue.venueName }}</u></h1>
      <h3>Please enter your details below to check in and then show your confirmed check in message to one of our team</h3>

      <div class="checkInList">
        <div class="slide">
          <input type="text" name="name" placeholder="First & Last Name" [(ngModel)]="userObj.name" />
          <input type="text" name="postCode" placeholder="Post Code" [(ngModel)]="userObj.postCode" />
        </div>
        <div class="slide">
          <input type="email" name="email" placeholder="Email Address" [(ngModel)]="userObj.email" />
          <input type="tel" name="ph" placeholder="Phone Number" [(ngModel)]="userObj.ph" />
        </div>

        <div class="fullSide">
          <button type="button" name="name" (click)="submitUserDetails()">Register</button>
        </div>
      </div>
    </div>

    <div *ngIf="!venueFound">
      <h1>Sorry! Venue not found :(</h1>
      <button (click)="goToLanding()">Go Home</button>
    </div>
  </div>
</div>
