<div class="coreWrapper">
    <div *ngIf="!isAdmin">
        <h1>Welcome, please enter your data request</h1>
        <label>Venue Name: </label>
        <input autofocus type="text" [(ngModel)]="request.name" placeholder="Venue Name"/> <br /><br />
        <label>Start Date: </label>
        <input autofocus type="date" [(ngModel)]="request.sDate" placeholder="Start Date"/> <br /><br />
        <label>End Date: </label>
        <input autofocus type="date" [(ngModel)]="request.eDate" placeholder="End Date"/> <br /><br />
        <label>Start Time: </label>
        <input autofocus type="time" [(ngModel)]="request.sTime" placeholder="Start Time"/> <br /><br />
        <label>End Time: </label>
        <input autofocus type="time" [(ngModel)]="request.eTime" placeholder="End Time"/> <br /><br />
        <label>Admin Password: </label>
        <input autofocus type="password" [(ngModel)]="request.aPass" placeholder="Admin Password"/> <br /><br />
        <button (click)="submitPassword()">Submit</button>
    </div>

    <div  *ngIf="isAdmin">
        Welcome Admin!

        <br /><br />

        <ag-grid-angular
            style="width: 100%; height: 300px;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            (rowSelected)='onRowClicked($event)'>
        </ag-grid-angular>
        
        <br /><br />
        
        <ag-grid-angular
            style="width: 100%; height: 300px;"
            class="ag-theme-alpine"
            *ngIf="showGuestGrid"
            [rowData]="guestData"
            [gridOptions]="guestGridOptions"
            (gridReady)="onGuestGridReady($event)">
        </ag-grid-angular>

    </div>
</div>