<div class="topHeader">
  <div class="logo" (click)="goHome()"><label>QR</label>Web</div>
</div>

<div class="coreWrapper genQRWrapper" *ngIf="canShowPage">
  <!-- <h1>Thanks for signing up!</h1> -->

  <h4>
      Send your guests to this URL:
      <br /><br /> <a href="{{qrCodeUrl}}" target="_blank">{{ qrCodeUrl }}</a> <br /><br />
      Or <a href="javascript:void(0);" (click)="printTrigger()">print</a>
      the following QR Code for your guests to scan:
  </h4>

  <ngx-qrcode
      [elementType]="qrCodeUrl"
      [value] = "qrCodeUrl"
      cssClass = "qrCode"
      errorCorrectionLevel = "L">
  </ngx-qrcode>

  <div class="fullSide">
    <button type="button" name="name" class="registerVenueBtn" (click)="logout()">Logout</button>
    <!-- <button type="button" name="name" class="registerVenueBtn" (click)="goHome()">View Guests</button> -->
  </div>

</div>

<!-- <footer></footer> -->
