<div class="topHeader">
  <div class="logo" (click)="goHome()"><label>Ezy</label>Checkin</div>
</div>

<div class="coreWrapper">

  <div *ngIf="!isDiningAlone && !guestAdder" >
    <img class="venueLogo" src="{{currentVenue.venueImage}}"  *ngIf="currentVenue.venueImage"/>

    <h1 *ngIf="!quickLogin">
      You're checked in!
    </h1>
    <h3 *ngIf="!quickLogin">
      Are you with any other guests?
    </h3>
    <h1 *ngIf="quickLogin">You're logged in! Would you like to add a guest?</h1>

    <div class="fullSide coreStyler">
      <button type="button" class="registerVenueBtn logoutBtn" (click)="diningAlone()" *ngIf="!quickLogin">Dining Alone</button>
      <button type="button" class="registerVenueBtn logoutBtn" (click)="diningAlone()" *ngIf="quickLogin">No</button>
      <button type="button" class="registerVenueBtn" (click)="triggerGuestAdder()">Dining with a group</button>
      <div class="buffer"></div>
    </div>
  </div>

  <div *ngIf="isDiningAlone && !quickLogin">
    <img class="venueLogo" src="{{currentVenue.venueImage}}"  *ngIf="currentVenue.venueImage"/>
    <h1>You have successfully signed in to {{currentVenue.name}}, please show this page to a staff member</h1>
  </div>

  <div *ngIf="guestAdder && !newGuestForm && !isDiningAlone">

    <div class="fullSide">
      <button type="button" class="registerVenueBtn" (click)="addNewGuest()">+ New Guest</button>
      <div class="buffer"></div>
    </div>

    <ag-grid-angular
        style="width: 100%; height: 300px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)"
        (rowSelected)='onRowClicked($event)'>
    </ag-grid-angular>

    <div class="fullSide coreStyler">
      <button type="button" name="name" (click)="deleteGuests()" [ngClass]="{'disabledBtn' : !canConfirmGuests }" [disabled]="!canConfirmGuests" class="deleteBtn" *ngIf="!quickLogin">Delete Guests</button>
      <button type="button" name="name" (click)="dontAddGuest()" class="backBtn">Back</button>
      <button type="button" name="name" (click)="saveNewGuests()" [ngClass]="{'disabledBtn' : !canConfirmGuests }" [disabled]="!canConfirmGuests" *ngIf="!quickLogin">Confirm Guests</button>
    </div>
  </div>

  <div *ngIf="newGuestForm" class="coreStyler">
    <div class="slide">
      <input type="text" name="name" placeholder="First & Last Name" [(ngModel)]="guestUserObj.name" />
      <input type="email" name="email" placeholder="Email Address" [(ngModel)]="guestUserObj.email" />
    </div>
    <div class="fullSide">
      <input type="tel" name="ph" placeholder="Phone Number" [(ngModel)]="guestUserObj.ph" />
    </div>
    <div class="fullSide">
      <input type="text" placeholder="Guest Address (if different)" ngx-google-places-autocomplete #places="ngx-places" (onAddressChange)="onChange($event)"/>
    </div>

    <div class="fullSide">
      <button type="button" name="name" (click)="dontAddNewGuest()" class="backBtn">Back</button>
      <button type="button" name="name" (click)="submitNewGuest()">Add to Guest List</button>
    </div>
  </div>

</div>
