
// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

// AG Grid Import
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

body, html, router-outlet{
  padding: 0;
  margin: 0;

  background: #fff;
}

*{
  font-family: 'Montserrat', sans-serif;
  transition: all 1s ease;
}

button{
  cursor: pointer !important;
}


.deleteBtn{
  background: #e27d7d !important;
}

// AG Grid Styles
.ag-theme-alpine *{
  transition: all 0s ease !important;
}

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.ag-header-cell-text{
  margin-left: auto !important;
  margin-right: auto !important;
}
// End Grid Styles

.pac-container {
  z-index: 10000 !important;
}

.basicWrapper{
  margin-top: 20%;
  margin-bottom: 10%;
  text-align: center;
  color:#131446;
}

.coreWrapper{
  width: 80%;
  height: fit-content;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.logoutBtn{
  background: #8e8e8e !important;
}

.registerBtn{
  padding: 10px;
  width: 150px;
  border: none;
  background: #4DB657 !important;
  color: #fff;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-weight: 900;
  cursor: pointer;
}

.google-btn {
  width: 250px;
  height: 42px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 5%;
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 60px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -10px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 25px 0 0;
  color: #7F7F7F;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.printQR{
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    img{
      width: 100%;
    }
}


.regoForm{
  // float: right;
  // padding-right: 80px;


  h1{
    text-align: center;
    color: #4C555A;
    white-space: nowrap;
    font-size: 24px;
    padding-bottom: 10px;

    label{
      color: #4db757;
    }
  }

  .orText{
    text-align: center;
    width: 100%;
    display: block;
    color: #6E6E70;

    margin-bottom: 5%;
  }

  .manualEnterForm{
    width: fit-content;
    display: block;

    margin-left: auto;
    margin-right: auto;

    input{
      background: #E6E7E9;
      border-radius: 4px;
      color: grey;
      border: none;
      padding: 10px;
      font-size: 16px;
      margin: 4px;
      color : #747577;
    }

    .fullSpanInput{
      width: 94%;
      max-width: 100%;
    }
  }

  .proccedRow{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: 100%;
    display: block;
    text-align: center;
    color: #4C555A;
    font-size: 14px;
    margin-top: 5%;

    label{
      color: #4db757;
      cursor: pointer;
    }

    button{
      background: #4DB657;
      border: none;
      color: #fff;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 10px;

      margin-right: 5%;
      margin-left: 5%;
    }
  }

  .ppRow{
    color: #4C555A;
    text-align: left;
    font-size: 12px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 5%;
    line-height: 20px;
    width: 70%;
    text-align: center;

    a{
      color: #3B97D6;
      text-decoration:none;
    }
  }
}


.optionButtons{
  button{
    background: #ff814d;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
  }
}

.venueLogo{
  width: 200px;
  height: 150px;
  object-fit: cover;
  background: black;
  box-shadow: 0px 0px 10px #e8e8e8;

  margin-top: 40px;
  border-radius: 4px;
}

.topHeader{
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  background: #FCFBFC;

  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: fixed;
  top: 0;

  .logo{
    padding: 5px;
    color: #D8C8F0;
    font-size: 21px;
    width: 100%;
    text-align: center;

    label{
      color: #9068D3;
    }
  }
}


.blueLabel{
  a{
    color: #3A97D2;
    text-decoration: none;
    cursor: pointer;
  }
}

.dimmer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 90000;
}

.qrCode img{
  width: 250px;
}

// footer{
//   display: none;
// }

.miniCustomModel{
  width: 400px !important;
  height: 400px !important;
}

.customModel{
  width: 800px;
  height: 650px;
  top: 5%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 900000;

  background: #FCFBFC;
  border-radius: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  text-align: center;
  box-shadow: 0px 0px 10px #8e8e8e;
}

.customModel::-webkit-scrollbar{
  display: none !important;
}

.inlineCheck{
 white-space: nowrap;

 input{
   width: 20px !important;
   transform: scale(1.5);
 }
}

// LIL MODE
@media (max-width: 750px) {
  .side{
    width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  .coreWrapper{
    margin-top: 30% !important;
  }

  .fullSide .gridSec{
    width: 100% !important;

    .block{
      margin-top: 10%;
    }
  }

  .longBlockWrapper{
    width: 60% !important;

    .longBlock{
      width: auto !important;
    }
  }

  .regoForm{
    width: 80% !important;
    float: none !important;
    padding: 0px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .regoForm h1{
    font-size: 18px;
  }

  .regoForm form{
    width: 100% !important;
  }

  .regoForm form input{
    width: 40% !important;
  }

  .regoForm form .fullSpanInput{
    width: 90% !important;
  }

  .regoForm .proccedRow button{
    margin-top: 5%;
    width: 60%;
  }

  .regoForm .google-btn .google-icon{
    margin-left: 0px !important;
  }


  .regoForm .ppRow{
    width: 90%;
    text-align: left;
    margin-top: 10%;

  }

  .longBlockWrapper h1{
    text-align: center;
  }

  .leftSide .contentWrap h1{
    font-size: 34px !important;
  }

  .basicWrapper .regoForm .manualEnterForm{
    width: 60% !important;
  }

  .basicWrapper .regoForm h1{
    margin-top: 40% !important;
  }

  .leftRegoSec{
    width: 90% !important;
    text-align: center;
  }

  .coreGrid{
    padding-bottom: 30% !important;
  }

  .headerSection .sideImage{
    width: 70% !important;
  }
  // h3{
  //   width: 90% !important;
  // }

  // .leftSide{
  //   order: 2 !important;
  // }
  //
  // .rightSide{
  //   order:1 !important;
  // }

  .contentWrap{
    text-align: center;
    width: 80% !important;
    margin-top: 0% !important;
  }

  .topSpace  h1{
    margin-top: 20% !important;
  }

  .lighter .contentWrap{
    padding-top: 0vh !important;
  }

  .customModel{
    width: 90% !important;
    top: 5% !important;
  }

  .genQRWrapper{
    margin-top: 30%;
  }

  .venueCore{
    margin-top: 30% !important;
    margin-bottom: 50% !important;
  }

  .checkInSuccess h1{
    margin-top: 50% !important;
  }

  .google-btn {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
  }

  .simpleWrapper .topSection .side{
    width: 100% !important;
  }

  .simpleWrapper .headerSection .topSection .side:last-child{
    display: none !important;
  }

  .simpleWrapper .logo{
    text-align: center;
  }

  .bigVenueSearch{
    width: 280px !important;
  }

  .mobileBtn{
    display: inline-flex !important;
  }
}

// MEDUIM MODE
@media (max-width: 1500px) {
  .topSpace{
    width: 100% !important;
    max-width: 100% !important;
  }

  .sidewaysGrid{
    width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

// BIG MODE
// @media (min-width: 1400px) {
//   .contentWrap{
//     padding-top: 13vh !important;
//   }
// }

@media print {
  header {
    display: none !important;
  }

  .coreWrapper{
    padding-top: 0px !important;
  }
}
